{{ define "main" }}
<header>
  <h1>
    <a href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}'><i class="icon-rss"></i></a>{{ .Title }}
  </h1>
</header>
  <ul>
  {{- range .Paginator.Pages -}}
    <li>
      <a href="{{ .RelPermalink }}">
        {{- .Date.Format "02/01/2006" }} - {{ .Title -}}
      </a>
        <div class="meta">
      {{- range .Params.categories -}}
        <a class="categories" href='{{ "categories/" | relLangURL }}{{ . | urlize }}'>
          {{- . -}}
        </a>
      {{- end -}}
      {{- range .Params.tags -}}
        <a class="tags" href='{{ "tags/" | relLangURL }}{{ . | urlize }}'>
          {{- . -}}
        </a>
      {{- end -}}
      </div>
    </li>
  {{- end -}}
  </ul>
<nav class="pager">
  <p>
    {{- if .Paginator.HasPrev -}}
      <a class="left" href="{{ .Paginator.Prev.URL }}">&laquo; {{ i18n "paginatorPrevious" }}</a>
    {{- end -}}
    <span class="pagerNum">{{ i18n "page" }} {{ .Paginator.PageNumber }}/{{ .Paginator.TotalPages }}</span>
    {{- if .Paginator.HasNext -}}
      <a class="right" href="{{ .Paginator.Next.URL }}">{{ i18n "paginatorNext" }} &raquo;</a>
    {{- end -}}
  </p>
</nav>
{{ end }}
